@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--montserrat);
}

:root {
  --lightBlack:hsla(0,0%,0%,0.4);
  --Black:hsla(0,0%,0%,1);
  --white: hsla(0,100%,100%,1);
  --lightPurple:#b993d6;
  --purple: #b993d6bc;
  --lightBlue: #8ca6dbb8;
  --darkPurple: hsla(300, 100%, 50%, 1);
}

body {
  background: var(--lightPurple);
  background: linear-gradient(to bottom, var(--lightBlue) 8%, var(--purple) 30%, var(--white) 80%);
  height: 100vh; 
  background-repeat: no-repeat;
}
